appnope
backports.ssl-match-hostname
certifi
decorator
funcsigs
pyreadline
ipykernel
ipython
ipython-genutils
Jinja2
jsonschema
jupyter-client
jupyter-core
MarkupSafe
matplotlib
mistune
mock
nbconvert
nbformat
nose
notebook
numpy
path.py
pbr
pexpect
pickleshare
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
simplegeneric
six
terminado
tornado
traitlets
wheel
opencv-python
scipy
scikit-image
ipywebrtc
